<span style="color:red;">{{error.errorMsg}}</span>
<b>List of Jobs</b>
<div class="container">
	<div class="panel panel-info">
		<div class="panel-heading">
			<b>Job Details</b>
			<div class="panel-body">
				<ul style="list-style: none">
					<li ng-repeat="job in jobs">
						<a href="" ng-click="showJobDetails(job.id)">{{job.jobTitle}}</a><br>
						<b>Posted On:</b> {{job.postedOn | date:'yyyy:MM-dd'}}<br>
						<div ng-show="showJob && id==job.id">
							<b>Job Description:</b>{{job.jobDescription}}<br>
							<b>Salary:</b>{{job.salary}}<br>
							<b>Location:</b>{{job.location}}<br>
							<b>Skills Required:</b>{{job.skllsRequired}}<br>
							<b>Company Name:</b>{{job.companyname}}<br>
						</div>
						<a ng-show="user.role=='ADMIN'" href="" style="float: right;" ng-click="deleteJob(job.id)"><span class="glyphicon glyphicon-trash"></span></a>
						<a ng-show="user.role=='ADMIN'" href="#/updatejob/{{job.id}}" style="float: right;"><span class="glyphicon glyphicon-pencil"></span></a>
						<hr>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>